@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    width: 60%;
    margin: 20px auto;
}



h1 {
    font-size: 36px;
    font-family: 'Montserrat';
    text-align: center;
    padding: 20px 0px 20px 0px;
}

p {
    text-align: center;
    margin: 0px 0px 20px 0px;
    font-family: 'Montserrat';
}
